/Java/summer_assignment/nbproject/
/Java/summer_assignment/build/
/Java/summer_assignment/build.xml
/Java/summer_assignment/manifest.mf

/PythonDemo/summer_assignment/.vs/summer_assignment/v16/.suo
/PythonDemo/summer_assignment/summer_assignment.sln
/PythonDemo/summer_assignment/summer_assignment/summer_assignment.pyproj
