/Java/summer_assignment/nbproject/
/Java/summer_assignment/build/
/Java/summer_assignment/build.xml
/Java/summer_assignment/manifest.mf

/PythonDemo/summer_assignment/.vs/summer_assignment/v16/.suo
/PythonDemo/summer_assignment/summer_assignment.sln
/PythonDemo/summer_assignment/summer_assignment/summer_assignment.pyproj

/JavaScript/react-script/node_modules
/JavaScript/react-script/.pnp
/JavaScript/react-script/README.md
/JavaScript/react-script/package.json
/JavaScript/react-script/public/favicon.ico
/JavaScript/react-script/public/logo192.png
/JavaScript/react-script/public/logo512.png
/JavaScript/react-script/public/manifest.json
/JavaScript/react-script/public/robots.txt
/JavaScript/react-script/src/App.test.js
/JavaScript/react-script/src/serviceWorker.js
/JavaScript/react-script/src/setupTests.js
/JavaScript/react-script/yarn.lock
/JavaScript/react-script/coverage
/JavaScript/react-script/build
/JavaScript/react-script/.vs/
.pnp.js
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*